/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.logo {
  width: 180px;
  //height: 66px !important;
  height: inherit !important;
  margin-top: -0.7rem;
}
