/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.logo {
  width: 180px;
  //height: 66px !important;
  height: inherit !important;
  margin-top: -0.7rem;
}

.content__default img {
  //width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
